aiobotocore 
aiofiles
aiohttp
aioitertools 
aiosignal 
aiosqlite 
alabaster 
anaconda-catalogs 
anaconda-client
anyio 
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
argon2-cffi 
argon2-cffi-bindings 
arrow 
arxiv==2.1.0
astroid 
astropy 
asttokens 
async-timeout 
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
blis==0.7.11
bokeh 
boltons 
botocore 
Bottleneck 
brotlipy==0.7.0
cachetools==5.3.2
catalogue==2.0.10
certifi 
cffi 
chardet 
charset-normalizer 
click==8.1.7
cloudpathlib==0.16.0
cloudpickle 
clyent
colorama 
colorcet 
coloredlogs==15.0.1
comm 
confection==0.1.4
constantly==15.1.0
contourpy 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler 
cymem==2.0.8
cytoolz 
dask 
dataclasses-json==0.6.4
datasets 
datashader 
datashape
debugpy 
decorator 
defusedxml 
deprecation==2.1.0
diff-match-patch 
dill 
distlib==0.3.8
distributed 
distro==1.9.0
docstring-to-markdown 
docutils 
entrypoints 
et-xmlfile==1.1.0
executing 
fastjsonschema 
feedparser==6.0.10
filelock==3.13.1
flake8 
flask 
fonttools==4.25.0
frozenlist 
fsspec 
future 
gdown==5.1.0
gensim 
glob2 
gmpy2 
greenlet 
h11==0.14.0
h5py 
HeapDict 
holoviews 
httpcore==1.0.2
httpx==0.26.0
huggingface-hub 
humanfriendly==10.0
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
imbalanced-learn 
importlib-metadata 
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jaraco.classes 
jedi 
jellyfish 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonpatch==1.33
jsonpointer==2.1
jsonschema 
jupyter 
jupyter-console 
jupyter-events 
jupyter-server 
jupyter-ydoc 
jupyter_client 
jupyter_core 
jupyter_server_fileid 
jupyter_server_ydoc 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kaleido 
keyring 
kiwisolver 
lancedb==0.5.6
langchain==0.1.8
langchain-community==0.0.21
langchain-core==0.1.25
langchain-openai==0.0.6
langcodes==3.3.0
langsmith==0.1.5
lazy-object-proxy 
lazy_loader 
libarchive-c 
linkify-it-py 
llvmlite 
lmdb 
locket 
lxml 
lz4 
Markdown 
markdown-it-py 
MarkupSafe 
marshmallow==3.20.2
matplotlib 
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl 
mistune 
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch 
multiprocess 
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions  
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
onnx==1.15.0
openai==1.11.1
openpyxl==3.0.10
optimum==1.17.1
overrides==7.7.0
packaging==23.2
pandas 
pandocfilters 
panel 
param 
parsel 
parso 
partd 
pathlib 
pathspec 
patsy==0.5.3
pep8==1.7.1
pexpect 
pickleshare 
Pillow 
pkce 
pkginfo 
platformdirs 
plotly 
pluggy 
ply==3.11
poyo 
preshed==3.0.9
prometheus-client 
prompt-toolkit 
Protego 
protobuf==4.25.3
psutil 
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg-pool==3.2.1
ptyprocess 
pure-eval 
py==1.11.0
py-cpuinfo 
pyarrow==15.0.0
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat 
pycparser 
pyct 
pycurl 
pydantic 
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylance==0.9.16
pylint 
pylint-venv 
pyls-spyder==0.4.0
pyodbc 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
pytest 
python-dateutil 
python-dotenv 
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify 
python-snappy 
pytoolconfig 
pytz 
pyviz-comms 
PyWavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib==1.5.0
ratelimiter==1.2.0.post0
regex 
requests 
requests-file 
requests-toolbelt 
responses 
retry==0.9.2
rfc3339-validator 
rfc3986-validator 
rope 
Rtree 
s3fs 
safetensors 
scikit-image 
scikit-learn 
scipy 
Scrapy 
seaborn 
semver==3.0.2
Send2Trash 
sentence-transformers==2.3.1
sentencepiece==0.2.0
service-identity 
sgmllib3k==1.0.0
sip 
six 
smart-open 
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
srsly==2.4.8
stack-data 
statsmodels 
sympy 
tables 
tabulate 
tblib 
tenacity 
terminado 
text-unidecode 
textdistance 
thinc==8.2.2
thinc-apple-ops==0.1.4
threadpoolctl 
three-merge 
tifffile 
tiktoken==0.5.2
tinycss2 
tldextract 
tokenizers 
toml 
tomlkit 
toolz 
torch==2.2.0
tornado 
tqdm 
traitlets 
transformers 
Twisted 
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata 
uc-micro-py 
ucimlrepo==0.0.3
ujson 
Unidecode 
urllib3 
virtualenv==20.25.0
w3lib 
wasabi==1.1.2
watchdog 
wcwidth 
weasel==0.3.4
webencodings==0.5.1
websocket-client 
Werkzeug 
whatthepatch 
widgetsnbextension 
wrapt 
wurlitzer 
xarray 
xlwings 
xxhash 
xyzservices 
y-py 
yapf 
yarl 
ypy-websocket 
zict 
zipp 
zope.interface 
zstandard 
