<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Forum Sphere{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Forum Sphere</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/create_post">Create Post
                 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Post Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search Page</a>
            </li>
            

            {% if 'username' in session %}
            <li class="nav-item">
              <form action="{{ url_for('logout') }}" method="post">

              </form>
                <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="btn btn-dark mr-2">Sign Out</button>
            </form>
            </li>

                <li class="nav-item">
                  <a href="/profile">
                    <button 
                      type="button" 
                      class="btn btn-dark mr-2">{{ session['username'] }}
                    </button>
                  </a>
    
                  </li>
                <!-- Logout button/link here -->

            {% else %}
                <!-- Login/Signup buttons/links here -->
                <li class="nav-item">
                  <a href="/signup">
                    <button
                      type="button"
                      class="btn btn-primary mr-2">
                      SIGN UP
                    </button>
                </li>
                <li class="nav-item">
                  <a href="/signin">
                    <button 
                      type="button" 
                      class="btn btn-dark">SIGN IN</button>
                  </a>
                </li>
    

            {% endif %}


          </ul>


          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search Forum"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
              href="search"
            >
              Search
            </button>
          </form>
        </div>
    </nav>
</header>


    <main role="main" class="container">
      {% block main %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="mt-2">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
  
        <!-- Here goes the individual page content -->
      {% endblock %}
    </main>    <footer class="footer align-items-end">
      <div class="bg-light py-3 py-md-5 py-xl-8 border-top border-light-subtle">
        <div class="container overflow-hidden">
          <div class="row gy-3 gy-md-5 gy-xl-0 align-items-sm-center">
            <div class="col-xs-12 col-sm-6 col-xl-3 order-0 order-xl-0">
              <div class="footer-logo-wrapper text-center text-sm-start">
                <a href="#!">
                  <img
                    src="./assets/img/bsb-logo.svg"
                    alt="Forum sphere"
                    width="175"
                    height="57"
                  />
                </a>
              </div>
            </div>
        {% endif %}
    {% endwith %}

    {% block main %}

    {% endblock %}
</div>

<footer class="footer align-items-end">
    <!-- Widgets - Bootstrap Brain Component -->
    <div class="bg-light py-3 py-md-5 py-xl-8 border-top border-light-subtle">
        <!-- Footer content -->
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
