{% extends 'new_layout.html' %}

{% block main %}


<main style="width: 100%">
  <section class="vh-100" style="background-color: grey;">
    <div class="container py-5 h-100">
      <div class="card text-center" style="border-radius: 15px;">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Post</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <form method="POST" action="/create_post" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="content" name="content" rows="3" placeholder="Text" required></textarea>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="difficulty_level" id="flexRadioDefault1" value="easy">
              <label class="form-check-label" for="flexRadioDefault1">
                easy
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="difficulty_level" id="flexRadioDefault2" value="medium">
              <label class="form-check-label" for="flexRadioDefault2">
                medium
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="difficulty_level" id="flexRadioDefault2" value="hard">
              <label class="form-check-label" for="flexRadioDefault2">
                hard
              </label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
