{%extends 'new_layout.html'%}
{%block main%}


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<main style="width: 100%" >
  <section class="vh-100" style="background-color: grey;">
    <div class="container py-5 h-100">



    <div class="card text-center" style="border-radius: 15px;">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Message</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Tytle"
            />
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Text"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="exampleFormControlFile1"> </label>
            <input
              type="file"
              class="form-control-file"
              id="exampleFormControlFile1"
            />
          </div>

          <a href="#" class="btn btn-primary">submit</a>
        </form>
      </div>
    </div>
  </main>
  {% endblock%}
